@font-face {
  font-family: 'Heebo';
  src: url('assets/fonts/Heebo-Regular.ttf');
  font-style: normal;
  /* font-weight: normal; */
}

* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Heebo';
  /* line-height: 1.5; */
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.wrapper {
  max-width: 1220px;
  margin: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

/* MARGIN PADDING */
